<div class="login">
  <div class="header">
    <img class="logo" src="assets/img/login/customer_logo.png" />
  </div>
  <div class="content">
    <div class="edit-content">
      <div class="go-back font-18 hr-cli">
        <span (click)="goLogin2()">
          <<返回重新登录</span>
      </div>
      <div class="title font-18 co-85">
        <span>找回密码</span>
      </div>
      <div class="content-input">
        <div class="input-title">
          <span class="co-85 font-16">请输入手机号</span>
        </div>
        <div class="content-content">
          <span class="phone-content-logo">
            <i class="icon iconfont icon-mobile font-20 icon-font-li-he"></i>
          </span>
          <nz-tooltip nzTrigger="" nzPlacement="right" nzOverlayClassName="right-input" [nzTitle]="showError.phoneValue.inputTips" [nzVisible]="showError.phoneValue.error">
              <input nz-tooltip  (ngModelChange)="phoneChange($event)" (focus)="focusInput('phoneValue')" (blur)="blurInput('phoneValue')"
              [style.border-color]="showError.phoneValue.inputError?'#CC5252':''"
              class="phone-input font-16" maxlength="11" nz-input placeholder="请输入手机号" [(ngModel)]="phoneValue">
          </nz-tooltip>
        </div>
      </div>
      <div class="content-input">
          <div class="input-title">
            <span class="co-85 font-16">请输入验证码</span>
          </div>
          <div class="content-content">
            <span class="phone-content-logo">
              <i class="icon iconfont icon-yanzhengma font-20  icon-font-li-he"></i>
            </span>
            <nz-tooltip nzTrigger="" nzPlacement="right" nzOverlayClassName="right-input" [nzTitle]="showError.verificationValue.inputTips" [nzVisible]="showError.verificationValue.error">
                <input nz-tooltip  (ngModelChange)="verificationChange($event)" (focus)="focusInput('verificationValue')" (blur)="blurInput('verificationValue')"
                [style.border-color]="showError.verificationValue.inputError?'#CC5252':''"
                class="phone-input font-16" style="width:258px;" maxlength="6" nz-input placeholder="请输入验证码" [(ngModel)]="verificationValue">
            </nz-tooltip>
            
            <button *ngIf="!codeDisable" class="font-14 phone-button" nz-button nzType="primary" [nzSize]="'large'" 
          [disabled]="showError.phoneValue.inputError || phoneValue === ''" (click)="getIdentifyingCode()">获取短信验证码</button>
          <button class="font-14 phone-button" *ngIf="codeDisable" [disabled]="true" nz-button nzType="primary" [nzSize]="'large'" >{{time}}秒后可重新获取</button>
          </div>
        </div>
        <div class="content-input">
            <div class="input-title">
              <span class="co-85 font-16">请输入新密码</span>
            </div>
            <div class="content-content">
              <span class="phone-content-logo">
                <i class="icon iconfont icon-lock font-20 icon-font-li-he"></i>
              </span>
              <nz-tooltip nzTrigger="" nzPlacement="right" nzOverlayClassName="right-input" [nzTitle]="showError.newPasswardValue.inputTips" [nzVisible]="showError.newPasswardValue.error">
                  <input nz-tooltip  (ngModelChange)="validateNewPasswordRightNow($event)" (focus)="focusInput('newPasswardValue')" (blur)="blurInput('newPasswardValue')"
                  [style.border-color]="showError.newPasswardValue.inputError?'#CC5252':''"
                  class="phone-input font-16" type="password" nz-input placeholder="请输入新密码" [(ngModel)]="newPasswardValue">
              </nz-tooltip>
              
            </div>
          </div>
          <div class="content-input">
              <div class="input-title">
                <span class="co-85 font-16">再次确认密码</span>
              </div>
              <div class="content-content">
                <span class="phone-content-logo">
                  <i class="icon iconfont icon-lock font-20 icon-font-li-he"></i>
                </span>
                <nz-tooltip nzTrigger="" nzPlacement="right" nzOverlayClassName="right-input" [nzTitle]="showError.newPasswardSureValue.inputTips" [nzVisible]="showError.newPasswardSureValue.error">
                    <input nz-tooltip  (ngModelChange)="validateNewSurePasswordRightNow($event)" (focus)="focusInput('newPasswardSureValue')" (blur)="blurInput('newPasswardSureValue')"
                    [style.border-color]="showError.newPasswardSureValue.inputError?'#CC5252':''"
                    class="phone-input font-16" type="password" nz-input placeholder="请输入确认密码" [(ngModel)]="newPasswardSureValue">
                </nz-tooltip>
                
              </div>
            </div>
            <div class="go-login-2">
                <button class="go-login-button font-14" nz-button nzType="primary" (click)="goLogin()">确认</button>
              </div>
    </div>
  </div>
</div>